.products-section{
    background-color: black;
    padding: 0px 0px 70px 0px;
    .products-title{
        color: #F2D3D3;
        padding: 15px 0px;
    }
    .products-content{
        .product-container{
            //background: red;
            margin: 10px 0px;
            a{
                text-decoration: none;
                .product{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    align-items: center;
                    img{
                        max-width: 100%;
                        object-fit: cover;
                        margin: 0px;
                    }
                    h2{
                        color: white;
                    }
                    .prices{
                        display: flex;
                        align-items: center;
                        h3{
                            color: white;
                            font-size: 20px;
                        }
                        h4{
                            font-size: 15px;
                            color: red;
                            text-decoration: line-through;
                        }
                    }
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
