.SignUp{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.SignUp h1{
    margin-top: 30px;
    margin-bottom: 15px;
}
.SignUp form{
    width: 22%;
    background-color: #090909;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 20px;
    margin-bottom: 30px;
}
.SignUp form input{
    background-color: black;
    border: 0.5px solid #F2D3D3;
    border-radius: 5px;
    margin-bottom: 20px;
    color: white;
}

.SignUp form input:focus{
    outline: 0;
}

.SignUp form button{
    margin-top: 20px;
    background-color: #F2D3D3;
    border: none;
    border-radius: 10px;
    margin-bottom: 30px;
}

.SignUp form label:first-child{
    margin-top: 15px;
}